@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p style="background-color: #7ab730; padding: 20px; margin: auto; width 30vw; height: 100px; text-align: center; color:azure; font-size: 36px">Welcome!</p>
